* {
    margin: 0px;
    padding: 0px;
}

.selfie{
    height: 100px;
}

.marker{
    height: 20px;
    width: 15px;
    padding-right: 10px;
}

.location{
    display: flex;
    padding: 10px 0px;
}

a{
    color: blue;
}

.aboutMe{
    padding-bottom: 10px;
}

.gear{
    height: 15px;
    padding-right: 5px;
}

.blue{
    background-color: lightseagreen;
    height: 90px;
}

.main{
    height: 300px;
    width: 500px;
    display: block;
    /* padding: 3%; */
    border: 5px solid black;
    padding-top: 0px;
    margin: 10% 35%;
}

.info{
    position: relative;
    bottom: 60px;
    padding-left: 5%;
}